<div class="header">

	<a href="http://www.snap36.com"><img src="http://cdn2.hubspot.net/hub/29492/file-705818670-jpg/TradeShows/IR_B2B/landingpagehead.jpg"></a>
		
</div>

<div class='admin_login'>




			        
		      <form method="post" action='/admin/login'>
		           <label>Username: <input type="text" name="admin[name]"></label>
				    <br>
				    <label>Password: <input type="text" name="admin[password]"></label>
				    <br>
				    <input type="submit" value="Log in">
				  
		      </form>


</div>

<div class="footer">

	<img src="http://cdn2.hubspot.net/hub/29492/file-704215607-png/Banners/WeGetAround.png?t=1407167395510">
		
</div>