<html>
<head>
	<title></title>
</head>
<body>

	 <div class="header">

	 <form action='/upload' method='POST'>
  <label> Client <input type='text' name='create_project[client]'></label><br>

  <% Dir.foreach('./public/img') do |item|
  next if item == '.' or item == '..' or item == '.DS_Store' %>

  <% @spin = Spin.new(name: item) %>
  <% @spin.save %>

  <% end %>




  <br>
<input type='submit' value='Upload'>
</form>


	 <div>
</body>
</html>