<html>
<head>
	<title></title>
</head>
<body>

	 <div class="header">

	 <form action='/upload' method='POST'>
  <label> Upload Spins <input type='text' name='create_project[client]'></label><br>

 




  <br>
<input type='submit' value='Upload'>
</form>


	 <div>
</body>
</html>